.*.swp
*.o
*.1
.deps
.dirstamp
.gdbinit
tags
TAGS
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build/
/config.log
/config.status
/configure
/munin-c-*.tar.*
/plugins/
/munin-node-c
/munin-plugins-c
